# Anime Recommender System

In [1]:
import pandas as pd
import numpy as np
import requests
import time

In [61]:
%%time

query = '''
query($page: Int, $perPage: Int){
    Page(page: $page, perPage: $perPage) {
    pageInfo{
      total
      currentPage
      lastPage
      hasNextPage
      perPage
    }
    media(type:ANIME){
      id
      title {
        romaji
        english
      }
      genres
      format
      description
      startDate {
        year
        month
        day
      }
      endDate {
        year
        month
        day
      }
      episodes
      description
      season
      seasonYear
      duration
      coverImage {
        large
        medium
      }
      averageScore
      meanScore
      relations {
        nodes {
          id
          title {
            romaji
            english
          }
        }
      }
    }
  }
}
'''

url = 'https://graphql.anilist.co'
api_output_anime = []
page = 1
atLastPage = False

while not atLastPage:
#for i in range(5):
    variables = {
        'page': page,
        'perPage': 50,
    }
    
    time.sleep(0.667)
    response = requests.post(url, json={'query': query, 'variables': variables})
    data = response.json()
    
    for anime in data['data']['Page']['media']:
        start_year = ""
        start_month = ""
        start_day = ""
        end_year = ""
        end_month = ""
        end_day = ""
        
        start_year = f"{anime['startDate']['year']}" if anime['startDate']['year'] is not None and anime['startDate']['year'] >= 1900 else ""
        start_month = f"{anime['startDate']['month']:02d}" if anime['startDate']['month'] is not None and anime['startDate']['month'] <= 12 else ""
        start_day = f"{anime['startDate']['day']:02d}" if anime['startDate']['day'] is not None and anime['startDate']['day'] <= 31 else ""
        end_year = f"{anime['endDate']['year']}" if anime['endDate']['year'] is not None and anime['endDate']['year'] >= 1900 else ""
        end_month = f"{anime['endDate']['month']:02d}" if anime['endDate']['month'] is not None and anime['endDate']['month'] <= 12  else ""
        end_day = f"{anime['endDate']['day']:02d}" if anime['endDate']['day'] is not None and anime['endDate']['day'] <= 31 else ""

        anime['startDate'] = f"{start_year}-{start_month}-{start_day}" if len(f"{start_year}-{start_month}-{start_day}") == 10 else None
        anime['endDate'] = f"{end_year}-{end_month}-{end_day}" if len(f"{end_year}-{end_month}-{end_day}") == 10 else None            
        
        anime['title_romaji'] = anime['title']['romaji']
        anime['title_english'] = anime['title']['english']
        anime['coverImage_large'] = anime['coverImage']['large']
        anime['coverImage_medium'] = anime['coverImage']['medium']
        anime['genres'] = ", ".join(anime['genres'])
        
        # to skip hentai titles
        if "Hentai" in anime['genres']:
            continue
            
        anime.pop('coverImage')
        anime.pop('title')
        api_output_anime.append(anime)
        
    #api_output_anime.extend(data['data']['Page']['media'])
    print(f"Page {page}, total collated: {len(api_output_anime)} anime titles")
    
    if data['data']['Page']['pageInfo']['hasNextPage'] == True:
        page += 1
    else:
        atLastPage = True
        
print("Completed")

Page 1, total collated: 50 anime titles
Page 2, total collated: 100 anime titles
Page 3, total collated: 150 anime titles
Page 4, total collated: 200 anime titles
Page 5, total collated: 250 anime titles
Page 6, total collated: 300 anime titles
Page 7, total collated: 350 anime titles
Page 8, total collated: 400 anime titles
Page 9, total collated: 450 anime titles
Page 10, total collated: 500 anime titles
Page 11, total collated: 550 anime titles
Page 12, total collated: 600 anime titles
Page 13, total collated: 650 anime titles
Page 14, total collated: 700 anime titles
Page 15, total collated: 750 anime titles
Page 16, total collated: 800 anime titles
Page 17, total collated: 850 anime titles
Page 18, total collated: 900 anime titles
Page 19, total collated: 950 anime titles
Page 20, total collated: 1000 anime titles
Page 21, total collated: 1050 anime titles
Page 22, total collated: 1100 anime titles
Page 23, total collated: 1150 anime titles
Page 24, total collated: 1200 anime titles
Page 25, total collated: 1250 anime titles
Page 26, total collated: 1300 anime titles
Page 27, total collated: 1350 anime titles
Page 28, total collated: 1400 anime titles
Page 29, total collated: 1450 anime titles
Page 30, total collated: 1500 anime titles
Page 31, total collated: 1550 anime titles
Page 32, total collated: 1600 anime titles
Page 33, total collated: 1650 anime titles
Page 34, total collated: 1700 anime titles
Page 35, total collated: 1750 anime titles
Page 36, total collated: 1800 anime titles
Page 37, total collated: 1850 anime titles
Page 38, total collated: 1900 anime titles
Page 39, total collated: 1950 anime titles
Page 40, total collated: 2000 anime titles
Page 41, total collated: 2050 anime titles
Page 42, total collated: 2100 anime titles
Page 43, total collated: 2150 anime titles
Page 44, total collated: 2200 anime titles
Page 45, total collated: 2250 anime titles
Page 46, total collated: 2300 anime titles
Page 47, total collated: 2350 anime titles
Page 48, total collated: 2400 anime titles
Page 49, total collated: 2450 anime titles
Page 50, total collated: 2500 anime titles
Page 51, total collated: 2550 anime titles
Page 52, total collated: 2600 anime titles
Page 53, total collated: 2650 anime titles
Page 54, total collated: 2700 anime titles
Page 55, total collated: 2750 anime titles
Page 56, total collated: 2800 anime titles
Page 57, total collated: 2850 anime titles
Page 58, total collated: 2900 anime titles
Page 59, total collated: 2950 anime titles
Page 60, total collated: 3000 anime titles
Page 61, total collated: 3050 anime titles
Page 62, total collated: 3100 anime titles
Page 63, total collated: 3150 anime titles
Page 64, total collated: 3200 anime titles
Page 65, total collated: 3250 anime titles
Page 66, total collated: 3300 anime titles
Page 67, total collated: 3350 anime titles
Page 68, total collated: 3400 anime titles
Page 69, total collated: 3450 anime titles
Page 70, total collated: 3500 anime titles
Page 71, total collated: 3550 anime titles
Page 72, total collated: 3600 anime titles
Page 73, total collated: 3650 anime titles
Page 74, total collated: 3700 anime titles
Page 75, total collated: 3750 anime titles
Page 76, total collated: 3800 anime titles
Page 77, total collated: 3850 anime titles
Page 78, total collated: 3900 anime titles
Page 79, total collated: 3950 anime titles
Page 80, total collated: 4000 anime titles
Page 81, total collated: 4050 anime titles
Page 82, total collated: 4100 anime titles
Page 83, total collated: 4150 anime titles
Page 84, total collated: 4200 anime titles
Page 85, total collated: 4250 anime titles
Page 86, total collated: 4300 anime titles
Page 87, total collated: 4350 anime titles
Page 88, total collated: 4400 anime titles
Page 89, total collated: 4450 anime titles
Page 90, total collated: 4500 anime titles
Page 91, total collated: 4550 anime titles
Page 92, total collated: 4600 anime titles
Page 93, total collated: 4650 anime titles
Page 94, total collated: 4700 anime titles
Page 95, total collated: 4750 anime titles
Page 96, total collated: 4800 anime titles
Page 97, total collated: 4850 anime titles
Page 98, total collated: 4900 anime titles
Page 99, total collated: 4950 anime titles
Page 100, total collated: 5000 anime titles
Page 101, total collated: 5050 anime titles
Page 102, total collated: 5100 anime titles
Page 103, total collated: 5150 anime titles
Page 104, total collated: 5200 anime titles
Page 105, total collated: 5250 anime titles
Page 106, total collated: 5300 anime titles
Page 107, total collated: 5350 anime titles
Page 108, total collated: 5400 anime titles
Page 109, total collated: 5450 anime titles
Page 110, total collated: 5500 anime titles
Page 111, total collated: 5550 anime titles
Page 112, total collated: 5600 anime titles
Page 113, total collated: 5650 anime titles
Page 114, total collated: 5700 anime titles
Page 115, total collated: 5750 anime titles
Page 116, total collated: 5800 anime titles
Page 117, total collated: 5850 anime titles
Page 118, total collated: 5900 anime titles
Page 119, total collated: 5950 anime titles
Page 120, total collated: 6000 anime titles
Page 121, total collated: 6050 anime titles
Page 122, total collated: 6100 anime titles
Page 123, total collated: 6150 anime titles
Page 124, total collated: 6200 anime titles
Page 125, total collated: 6250 anime titles
Page 126, total collated: 6300 anime titles
Page 127, total collated: 6350 anime titles
Page 128, total collated: 6400 anime titles
Page 129, total collated: 6450 anime titles
Page 130, total collated: 6500 anime titles
Page 131, total collated: 6550 anime titles
Page 132, total collated: 6600 anime titles
Page 133, total collated: 6650 anime titles
Page 134, total collated: 6700 anime titles
Page 135, total collated: 6750 anime titles
Page 136, total collated: 6800 anime titles
Page 137, total collated: 6850 anime titles
Page 138, total collated: 6900 anime titles
Page 139, total collated: 6950 anime titles
Page 140, total collated: 7000 anime titles
Page 141, total collated: 7050 anime titles
Page 142, total collated: 7100 anime titles
Page 143, total collated: 7150 anime titles
Page 144, total collated: 7200 anime titles
Page 145, total collated: 7250 anime titles
Page 146, total collated: 7300 anime titles
Page 147, total collated: 7350 anime titles
Page 148, total collated: 7400 anime titles
Page 149, total collated: 7450 anime titles
Page 150, total collated: 7500 anime titles
Page 151, total collated: 7550 anime titles
Page 152, total collated: 7600 anime titles
Page 153, total collated: 7650 anime titles
Page 154, total collated: 7700 anime titles
Page 155, total collated: 7750 anime titles
Page 156, total collated: 7800 anime titles
Page 157, total collated: 7850 anime titles
Page 158, total collated: 7900 anime titles
Page 159, total collated: 7950 anime titles
Page 160, total collated: 8000 anime titles
Page 161, total collated: 8050 anime titles
Page 162, total collated: 8100 anime titles
Page 163, total collated: 8150 anime titles
Page 164, total collated: 8200 anime titles
Page 165, total collated: 8250 anime titles
Page 166, total collated: 8300 anime titles
Page 167, total collated: 8350 anime titles
Page 168, total collated: 8400 anime titles
Page 169, total collated: 8450 anime titles
Page 170, total collated: 8500 anime titles
Page 171, total collated: 8550 anime titles
Page 172, total collated: 8600 anime titles
Page 173, total collated: 8650 anime titles
Page 174, total collated: 8700 anime titles
Page 175, total collated: 8750 anime titles
Page 176, total collated: 8800 anime titles
Page 177, total collated: 8850 anime titles
Page 178, total collated: 8900 anime titles
Page 179, total collated: 8950 anime titles
Page 180, total collated: 9000 anime titles
Page 181, total collated: 9050 anime titles
Page 182, total collated: 9100 anime titles
Page 183, total collated: 9150 anime titles
Page 184, total collated: 9200 anime titles
Page 185, total collated: 9250 anime titles
Page 186, total collated: 9300 anime titles
Page 187, total collated: 9350 anime titles
Page 188, total collated: 9400 anime titles
Page 189, total collated: 9450 anime titles
Page 190, total collated: 9500 anime titles
Page 191, total collated: 9550 anime titles
Page 192, total collated: 9600 anime titles
Page 193, total collated: 9650 anime titles
Page 194, total collated: 9700 anime titles
Page 195, total collated: 9750 anime titles
Page 196, total collated: 9800 anime titles
Page 197, total collated: 9850 anime titles
Page 198, total collated: 9900 anime titles
Page 199, total collated: 9950 anime titles
Page 200, total collated: 10000 anime titles
Page 201, total collated: 10050 anime titles
Page 202, total collated: 10100 anime titles
Page 203, total collated: 10150 anime titles
Page 204, total collated: 10200 anime titles
Page 205, total collated: 10250 anime titles
Page 206, total collated: 10300 anime titles
Page 207, total collated: 10350 anime titles
Page 208, total collated: 10400 anime titles
Page 209, total collated: 10450 anime titles
Page 210, total collated: 10500 anime titles
Page 211, total collated: 10550 anime titles
Page 212, total collated: 10600 anime titles
Page 213, total collated: 10650 anime titles
Page 214, total collated: 10700 anime titles
Page 215, total collated: 10750 anime titles
Page 216, total collated: 10800 anime titles
Page 217, total collated: 10850 anime titles
Page 218, total collated: 10900 anime titles
Page 219, total collated: 10950 anime titles
Page 220, total collated: 11000 anime titles
Page 221, total collated: 11050 anime titles
Page 222, total collated: 11100 anime titles
Page 223, total collated: 11150 anime titles
Page 224, total collated: 11200 anime titles
Page 225, total collated: 11250 anime titles
Page 226, total collated: 11300 anime titles
Page 227, total collated: 11350 anime titles
Page 228, total collated: 11400 anime titles
Page 229, total collated: 11450 anime titles
Page 230, total collated: 11500 anime titles
Page 231, total collated: 11550 anime titles
Page 232, total collated: 11600 anime titles
Page 233, total collated: 11650 anime titles
Page 234, total collated: 11700 anime titles
Page 235, total collated: 11750 anime titles
Page 236, total collated: 11800 anime titles
Page 237, total collated: 11850 anime titles
Page 238, total collated: 11900 anime titles
Page 239, total collated: 11950 anime titles
Page 240, total collated: 12000 anime titles
Page 241, total collated: 12050 anime titles
Page 242, total collated: 12100 anime titles
Page 243, total collated: 12150 anime titles
Page 244, total collated: 12200 anime titles
Page 245, total collated: 12250 anime titles
Page 246, total collated: 12300 anime titles
Page 247, total collated: 12350 anime titles
Page 248, total collated: 12400 anime titles
Page 249, total collated: 12450 anime titles
Page 250, total collated: 12500 anime titles
Page 251, total collated: 12550 anime titles
Page 252, total collated: 12600 anime titles
Page 253, total collated: 12650 anime titles
Page 254, total collated: 12700 anime titles
Page 255, total collated: 12750 anime titles
Page 256, total collated: 12800 anime titles
Page 257, total collated: 12850 anime titles
Page 258, total collated: 12900 anime titles
Page 259, total collated: 12950 anime titles
Page 260, total collated: 13000 anime titles
Page 261, total collated: 13050 anime titles
Page 262, total collated: 13100 anime titles
Page 263, total collated: 13150 anime titles
Page 264, total collated: 13200 anime titles
Page 265, total collated: 13250 anime titles
Page 266, total collated: 13300 anime titles
Page 267, total collated: 13350 anime titles
Page 268, total collated: 13400 anime titles
Page 269, total collated: 13450 anime titles
Page 270, total collated: 13500 anime titles
Page 271, total collated: 13550 anime titles
Page 272, total collated: 13600 anime titles
Page 273, total collated: 13650 anime titles
Page 274, total collated: 13700 anime titles
Page 275, total collated: 13750 anime titles
Page 276, total collated: 13800 anime titles
Page 277, total collated: 13850 anime titles
Page 278, total collated: 13900 anime titles
Page 279, total collated: 13950 anime titles
Page 280, total collated: 14000 anime titles
Page 281, total collated: 14050 anime titles
Page 282, total collated: 14100 anime titles
Page 283, total collated: 14150 anime titles
Page 284, total collated: 14200 anime titles
Page 285, total collated: 14250 anime titles
Page 286, total collated: 14300 anime titles
Page 287, total collated: 14350 anime titles
Page 288, total collated: 14400 anime titles
Page 289, total collated: 14450 anime titles
Page 290, total collated: 14500 anime titles
Page 291, total collated: 14550 anime titles
Page 292, total collated: 14600 anime titles
Page 293, total collated: 14650 anime titles
Page 294, total collated: 14700 anime titles
Page 295, total collated: 14750 anime titles
Page 296, total collated: 14800 anime titles
Page 297, total collated: 14850 anime titles
Page 298, total collated: 14900 anime titles
Page 299, total collated: 14950 anime titles
Page 300, total collated: 15000 anime titles
Page 301, total collated: 15050 anime titles
Page 302, total collated: 15100 anime titles
Page 303, total collated: 15150 anime titles
Page 304, total collated: 15200 anime titles
Page 305, total collated: 15250 anime titles
Page 306, total collated: 15300 anime titles
Page 307, total collated: 15350 anime titles
Page 308, total collated: 15400 anime titles
Page 309, total collated: 15450 anime titles
Page 310, total collated: 15500 anime titles
Page 311, total collated: 15550 anime titles
Page 312, total collated: 15600 anime titles
Page 313, total collated: 15650 anime titles
Page 314, total collated: 15700 anime titles
Page 315, total collated: 15750 anime titles
Page 316, total collated: 15800 anime titles
Page 317, total collated: 15850 anime titles
Page 318, total collated: 15900 anime titles
Page 319, total collated: 15950 anime titles
Page 320, total collated: 16000 anime titles
Page 321, total collated: 16050 anime titles
Page 322, total collated: 16100 anime titles
Page 323, total collated: 16150 anime titles
Page 324, total collated: 16200 anime titles
Page 325, total collated: 16250 anime titles
Page 326, total collated: 16300 anime titles
Page 327, total collated: 16350 anime titles
Page 328, total collated: 16400 anime titles
Page 329, total collated: 16450 anime titles
Page 330, total collated: 16500 anime titles
Page 331, total collated: 16550 anime titles
Page 332, total collated: 16600 anime titles
Page 333, total collated: 16650 anime titles
Page 334, total collated: 16700 anime titles
Page 335, total collated: 16750 anime titles
Page 336, total collated: 16800 anime titles
Page 337, total collated: 16850 anime titles
Page 338, total collated: 16900 anime titles
Page 339, total collated: 16950 anime titles
Page 340, total collated: 17000 anime titles
Page 341, total collated: 17050 anime titles
Page 342, total collated: 17100 anime titles
Page 343, total collated: 17150 anime titles
Page 344, total collated: 17187 anime titles
Completed
Wall time: 9min 33s

In [62]:
anime_db = pd.DataFrame(api_output_anime)
print(anime_db.shape)
anime_db.head()

(17187, 17)

,id,genres,format,description,startDate,endDate,episodes,season,seasonYear,duration,averageScore,meanScore,relations,title_romaji,title_english,coverImage_large,coverImage_medium
0,1,"Action, Adventure, Drama, Sci-Fi",TV,"Enter a world in the distant future, where Bou...",1998-04-03,1999-04-24,26.0,SPRING,1998.0,24.0,86.0,86.0,"{'nodes': [{'id': 5, 'title': {'romaji': 'Cowb...",Cowboy Bebop,Cowboy Bebop,https://s4.anilist.co/file/anilistcdn/media/an...,https://s4.anilist.co/file/anilistcdn/media/an...
1,5,"Action, Drama, Mystery, Sci-Fi",MOVIE,"As the Cowboy Bebop crew travels the stars, th...",2001-09-01,2001-09-01,1.0,SUMMER,2001.0,115.0,82.0,82.0,"{'nodes': [{'id': 1, 'title': {'romaji': 'Cowb...",Cowboy Bebop: Tengoku no Tobira,Cowboy Bebop: The Movie - Knockin' on Heaven's...,https://s4.anilist.co/file/anilistcdn/media/an...,https://s4.anilist.co/file/anilistcdn/media/an...
2,6,"Action, Adventure, Comedy, Drama, Sci-Fi",TV,Trigun takes place in the distant future on a ...,1998-04-01,1998-09-30,26.0,SPRING,1998.0,24.0,79.0,79.0,"{'nodes': [{'id': 30703, 'title': {'romaji': '...",Trigun,Trigun,https://s4.anilist.co/file/anilistcdn/media/an...,https://s4.anilist.co/file/anilistcdn/media/an...
3,7,"Action, Drama, Mystery, Supernatural",TV,Robin Sena is a powerful craft user drafted in...,2002-07-02,2002-12-24,26.0,SUMMER,2002.0,25.0,68.0,68.0,{'nodes': []},Witch Hunter ROBIN,Witch Hunter ROBIN,https://s4.anilist.co/file/anilistcdn/media/an...,https://s4.anilist.co/file/anilistcdn/media/an...
4,8,"Adventure, Fantasy, Supernatural",TV,It is the dark century and the people are suff...,2004-09-30,2005-09-29,52.0,FALL,2004.0,23.0,62.0,64.0,"{'nodes': [{'id': 1123, 'title': {'romaji': 'B...",Bouken Ou Beet,Beet the Vandel Buster,https://s4.anilist.co/file/anilistcdn/media/an...,https://s4.anilist.co/file/anilistcdn/media/an...

In [63]:
anime_db.to_csv("./anime_db_18.csv",index=False,encoding="utf-8")

In [54]:
%%time

query = '''
query ($page: Int, $perPage: Int) {
    Page (page: $page, perPage: $perPage) {
        pageInfo {
            total
            currentPage
            lastPage
            hasNextPage
            perPage
        }
        users{
            id
            name
            mediaListOptions {
                scoreFormat
            }
            statistics {
                anime {
                    scores {
                        score
                        mediaIds
                    }
                    
                }
            }
        }
    }
}
'''

url = 'https://graphql.anilist.co'
api_output_users = []
atLastPage = False
page_numbers = list(range(1,30001))
pages = list(np.random.choice(page_numbers,size=300,replace=False))
#max page as of 10 Feb 2022 is 30582

#while not atLastPage:
#pages = [5,6]
#pages = list(range(1,11))
for idx, page in enumerate(pages):
#for i in range(5):
    variables = {
        'page': int(page),
        'perPage': 50,
    }

    time.sleep(0.667)
    response = requests.post(url, json={'query': query, 'variables': variables})
    data = response.json()
    
    #print(data)
    
    for user in data['data']['Page']['users']:  
        user['score_format'] = user['mediaListOptions']['scoreFormat']
        
        # exclude users that did not rate any anime, or are on a 3-point scale
        # The 3 point scale in AniList is equivalent to rating the anime with a smiley face, neutral face or sad face
        # Difficult to quantify the faces so we will exclude it in the data collection 
        if len(user['statistics']['anime']['scores']) == 0 or user['score_format'] == "POINT_3":
            continue
        # The 10 point scale in Anilist is on a scale of 1 to 10, integers only
        elif user['score_format'] == "POINT_10":
            # scaling the score by 10 so that the maximum score is 100
            # to have every user's scores on the same scale
            for score in user['statistics']['anime']['scores']:
                score['score'] *= 10
        # The 5 point scale in AniList is on a scale of 1 to 5, integers only
        elif user['score_format'] == "POINT_5":
            # scaling the score by 20 so that the maximum score is 100
            # to have every user's scores on the same scale
            for score in user['statistics']['anime']['scores']:
                score['score'] *= 20
        
        user['statistics'] = user['statistics']['anime']['scores']
        user.pop('mediaListOptions')
        #user.pop('statistics')
        api_output_users.append(user)
        
    #api_output_anime.extend(data['data']['Page']['media'])
    print(f"#{idx+1}: Users page {page}, total collated: {len(api_output_users)} users")

#1: Users page 12477, total collated: 23 users
#2: Users page 22037, total collated: 38 users
#3: Users page 21174, total collated: 45 users
#4: Users page 25244, total collated: 64 users
#5: Users page 13504, total collated: 89 users
#6: Users page 18988, total collated: 102 users
#7: Users page 26910, total collated: 117 users
#8: Users page 4028, total collated: 135 users
#9: Users page 16159, total collated: 142 users
#10: Users page 20393, total collated: 163 users
#11: Users page 27594, total collated: 173 users
#12: Users page 23577, total collated: 185 users
#13: Users page 20998, total collated: 199 users
#14: Users page 20090, total collated: 222 users
#15: Users page 1358, total collated: 226 users
#16: Users page 19034, total collated: 232 users
#17: Users page 2881, total collated: 248 users
#18: Users page 17423, total collated: 267 users
#19: Users page 27605, total collated: 279 users
#20: Users page 1621, total collated: 292 users
#21: Users page 5006, total collated: 318 users
#22: Users page 9836, total collated: 344 users
#23: Users page 10930, total collated: 360 users
#24: Users page 19646, total collated: 371 users
#25: Users page 6605, total collated: 401 users
#26: Users page 6050, total collated: 429 users
#27: Users page 16786, total collated: 450 users
#28: Users page 20212, total collated: 470 users
#29: Users page 25565, total collated: 490 users
#30: Users page 10178, total collated: 505 users
#31: Users page 15829, total collated: 517 users
#32: Users page 25019, total collated: 529 users
#33: Users page 11980, total collated: 551 users
#34: Users page 15971, total collated: 570 users
#35: Users page 7018, total collated: 600 users
#36: Users page 23917, total collated: 611 users
#37: Users page 14807, total collated: 632 users
#38: Users page 17336, total collated: 655 users
#39: Users page 985, total collated: 658 users
#40: Users page 22556, total collated: 666 users
#41: Users page 19226, total collated: 678 users
#42: Users page 27778, total collated: 689 users
#43: Users page 3705, total collated: 704 users
#44: Users page 13345, total collated: 726 users
#45: Users page 7780, total collated: 748 users
#46: Users page 29585, total collated: 758 users
#47: Users page 16254, total collated: 771 users
#48: Users page 18732, total collated: 792 users
#49: Users page 15133, total collated: 816 users
#50: Users page 8079, total collated: 848 users
#51: Users page 23250, total collated: 860 users
#52: Users page 25824, total collated: 869 users
#53: Users page 3323, total collated: 884 users
#54: Users page 25967, total collated: 911 users
#55: Users page 13129, total collated: 920 users
#56: Users page 25320, total collated: 931 users
#57: Users page 26473, total collated: 941 users
#58: Users page 19377, total collated: 950 users
#59: Users page 16212, total collated: 966 users
#60: Users page 17207, total collated: 981 users
#61: Users page 17232, total collated: 998 users
#62: Users page 643, total collated: 1002 users
#63: Users page 11083, total collated: 1021 users
#64: Users page 15489, total collated: 1031 users
#65: Users page 7927, total collated: 1043 users
#66: Users page 760, total collated: 1051 users
#67: Users page 24590, total collated: 1061 users
#68: Users page 7567, total collated: 1078 users
#69: Users page 5534, total collated: 1099 users
#70: Users page 2241, total collated: 1121 users
#71: Users page 21624, total collated: 1129 users
#72: Users page 24072, total collated: 1137 users
#73: Users page 28097, total collated: 1158 users
#74: Users page 10754, total collated: 1185 users
#75: Users page 6547, total collated: 1210 users
#76: Users page 1117, total collated: 1212 users
#77: Users page 3351, total collated: 1228 users
#78: Users page 16218, total collated: 1242 users
#79: Users page 15055, total collated: 1261 users
#80: Users page 17587, total collated: 1275 users
#81: Users page 18414, total collated: 1282 users
#82: Users page 29693, total collated: 1289 users
#83: Users page 5826, total collated: 1312 users
#84: Users page 16289, total collated: 1327 users
#85: Users page 22869, total collated: 1342 users
#86: Users page 1453, total collated: 1348 users
#87: Users page 6742, total collated: 1370 users
#88: Users page 19915, total collated: 1385 users
#89: Users page 14768, total collated: 1408 users
#90: Users page 5393, total collated: 1432 users
#91: Users page 8694, total collated: 1460 users
#92: Users page 23920, total collated: 1471 users
#93: Users page 7101, total collated: 1493 users
#94: Users page 25588, total collated: 1510 users
#95: Users page 7062, total collated: 1537 users
#96: Users page 24896, total collated: 1546 users
#97: Users page 1208, total collated: 1551 users
#98: Users page 18710, total collated: 1565 users
#99: Users page 9219, total collated: 1589 users
#100: Users page 2281, total collated: 1609 users
#101: Users page 4958, total collated: 1634 users
#102: Users page 23204, total collated: 1651 users
#103: Users page 21708, total collated: 1661 users
#104: Users page 8859, total collated: 1677 users
#105: Users page 2473, total collated: 1702 users
#106: Users page 24976, total collated: 1715 users
#107: Users page 25492, total collated: 1730 users
#108: Users page 19936, total collated: 1746 users
#109: Users page 11154, total collated: 1760 users
#110: Users page 13782, total collated: 1790 users
#111: Users page 5932, total collated: 1811 users
#112: Users page 17178, total collated: 1823 users
#113: Users page 6439, total collated: 1848 users
#114: Users page 11463, total collated: 1864 users
#115: Users page 12617, total collated: 1880 users
#116: Users page 26155, total collated: 1900 users
#117: Users page 29200, total collated: 1913 users
#118: Users page 7935, total collated: 1930 users
#119: Users page 2358, total collated: 1941 users
#120: Users page 10132, total collated: 1960 users
#121: Users page 6844, total collated: 1984 users
#122: Users page 14919, total collated: 2006 users
#123: Users page 12860, total collated: 2020 users
#124: Users page 17701, total collated: 2039 users
#125: Users page 428, total collated: 2047 users
#126: Users page 19016, total collated: 2059 users
#127: Users page 25665, total collated: 2077 users
#128: Users page 8299, total collated: 2107 users
#129: Users page 16208, total collated: 2119 users
#130: Users page 5984, total collated: 2136 users
#131: Users page 7633, total collated: 2155 users
#132: Users page 29429, total collated: 2173 users
#133: Users page 22162, total collated: 2190 users
#134: Users page 19419, total collated: 2198 users
#135: Users page 12362, total collated: 2223 users
#136: Users page 15466, total collated: 2233 users
#137: Users page 16110, total collated: 2254 users
#138: Users page 27349, total collated: 2276 users
#139: Users page 19980, total collated: 2302 users
#140: Users page 20178, total collated: 2323 users
#141: Users page 1629, total collated: 2336 users
#142: Users page 9240, total collated: 2359 users
#143: Users page 28012, total collated: 2370 users
#144: Users page 4027, total collated: 2392 users
#145: Users page 18858, total collated: 2413 users
#146: Users page 16307, total collated: 2425 users
#147: Users page 20379, total collated: 2453 users
#148: Users page 20265, total collated: 2469 users
#149: Users page 24533, total collated: 2496 users
#150: Users page 7550, total collated: 2513 users
#151: Users page 28289, total collated: 2528 users
#152: Users page 15670, total collated: 2546 users
#153: Users page 25773, total collated: 2558 users
#154: Users page 8073, total collated: 2580 users
#155: Users page 17641, total collated: 2600 users
#156: Users page 2584, total collated: 2624 users
#157: Users page 29727, total collated: 2637 users
#158: Users page 26201, total collated: 2645 users
#159: Users page 23372, total collated: 2661 users
#160: Users page 21425, total collated: 2671 users
#161: Users page 2390, total collated: 2702 users
#162: Users page 20152, total collated: 2724 users
#163: Users page 23427, total collated: 2750 users
#164: Users page 27904, total collated: 2759 users
#165: Users page 27137, total collated: 2772 users
#166: Users page 2757, total collated: 2797 users
#167: Users page 4037, total collated: 2817 users
#168: Users page 9128, total collated: 2840 users
#169: Users page 28910, total collated: 2850 users
#170: Users page 27087, total collated: 2865 users
#171: Users page 27233, total collated: 2869 users
#172: Users page 3039, total collated: 2892 users
#173: Users page 14740, total collated: 2920 users
#174: Users page 15397, total collated: 2947 users
#175: Users page 9950, total collated: 2967 users
#176: Users page 2102, total collated: 2978 users
#177: Users page 122, total collated: 2983 users
#178: Users page 27709, total collated: 2996 users
#179: Users page 15039, total collated: 3017 users
#180: Users page 6103, total collated: 3038 users
#181: Users page 3669, total collated: 3056 users
#182: Users page 13744, total collated: 3083 users
#183: Users page 22860, total collated: 3092 users
#184: Users page 18334, total collated: 3101 users
#185: Users page 9066, total collated: 3123 users
#186: Users page 23247, total collated: 3139 users
#187: Users page 22929, total collated: 3145 users
#188: Users page 23743, total collated: 3157 users
#189: Users page 1326, total collated: 3162 users
#190: Users page 13284, total collated: 3182 users
#191: Users page 8849, total collated: 3199 users
#192: Users page 304, total collated: 3206 users
#193: Users page 19078, total collated: 3221 users
#194: Users page 6395, total collated: 3258 users
#195: Users page 7779, total collated: 3280 users
#196: Users page 227, total collated: 3290 users
#197: Users page 4350, total collated: 3305 users
#198: Users page 13956, total collated: 3318 users
#199: Users page 3785, total collated: 3333 users
#200: Users page 8686, total collated: 3357 users
#201: Users page 12465, total collated: 3380 users
#202: Users page 18187, total collated: 3400 users
#203: Users page 26482, total collated: 3404 users
#204: Users page 15365, total collated: 3415 users
#205: Users page 8871, total collated: 3436 users
#206: Users page 8504, total collated: 3456 users
#207: Users page 7400, total collated: 3473 users
#208: Users page 22183, total collated: 3486 users
#209: Users page 6171, total collated: 3514 users
#210: Users page 17867, total collated: 3538 users
#211: Users page 9048, total collated: 3552 users
#212: Users page 523, total collated: 3556 users
#213: Users page 28913, total collated: 3565 users
#214: Users page 375, total collated: 3571 users
#215: Users page 9496, total collated: 3594 users
#216: Users page 25374, total collated: 3606 users
#217: Users page 15006, total collated: 3626 users
#218: Users page 3765, total collated: 3638 users
#219: Users page 22739, total collated: 3652 users
#220: Users page 28818, total collated: 3659 users
#221: Users page 18271, total collated: 3679 users
#222: Users page 20420, total collated: 3702 users
#223: Users page 25304, total collated: 3714 users
#224: Users page 10025, total collated: 3729 users
#225: Users page 13779, total collated: 3756 users
#226: Users page 16095, total collated: 3789 users
#227: Users page 137, total collated: 3796 users
#228: Users page 29457, total collated: 3814 users
#229: Users page 15511, total collated: 3833 users
#230: Users page 7699, total collated: 3857 users
#231: Users page 2828, total collated: 3882 users
#232: Users page 13252, total collated: 3900 users
#233: Users page 2122, total collated: 3915 users
#234: Users page 11934, total collated: 3935 users
#235: Users page 9632, total collated: 3961 users
#236: Users page 12216, total collated: 3980 users
#237: Users page 17560, total collated: 4002 users
#238: Users page 21848, total collated: 4011 users
#239: Users page 14777, total collated: 4029 users
#240: Users page 28275, total collated: 4044 users
#241: Users page 26960, total collated: 4057 users
#242: Users page 2979, total collated: 4071 users
#243: Users page 3413, total collated: 4089 users
#244: Users page 22203, total collated: 4101 users
#245: Users page 16380, total collated: 4113 users
#246: Users page 20447, total collated: 4135 users
#247: Users page 6687, total collated: 4158 users
#248: Users page 25240, total collated: 4170 users
#249: Users page 28508, total collated: 4186 users
#250: Users page 25099, total collated: 4199 users
#251: Users page 29902, total collated: 4218 users
#252: Users page 23736, total collated: 4229 users
#253: Users page 20029, total collated: 4258 users
#254: Users page 16431, total collated: 4274 users
#255: Users page 13326, total collated: 4301 users
#256: Users page 1439, total collated: 4307 users
#257: Users page 22446, total collated: 4326 users
#258: Users page 19627, total collated: 4348 users
#259: Users page 19820, total collated: 4373 users
#260: Users page 19803, total collated: 4391 users
#261: Users page 19531, total collated: 4405 users
#262: Users page 29755, total collated: 4414 users
#263: Users page 1886, total collated: 4424 users
#264: Users page 8301, total collated: 4444 users
#265: Users page 11501, total collated: 4459 users
#266: Users page 3842, total collated: 4473 users
#267: Users page 1779, total collated: 4476 users
#268: Users page 24537, total collated: 4489 users
#269: Users page 29027, total collated: 4502 users
#270: Users page 16055, total collated: 4522 users
#271: Users page 5397, total collated: 4558 users
#272: Users page 1816, total collated: 4567 users
#273: Users page 16791, total collated: 4588 users
#274: Users page 9006, total collated: 4614 users
#275: Users page 8118, total collated: 4636 users
#276: Users page 24461, total collated: 4657 users
#277: Users page 22392, total collated: 4667 users
#278: Users page 17576, total collated: 4685 users
#279: Users page 17970, total collated: 4707 users
#280: Users page 27838, total collated: 4718 users
#281: Users page 19211, total collated: 4732 users
#282: Users page 25812, total collated: 4745 users
#283: Users page 419, total collated: 4752 users
#284: Users page 19335, total collated: 4767 users
#285: Users page 26646, total collated: 4780 users
#286: Users page 17958, total collated: 4801 users
#287: Users page 20005, total collated: 4832 users
#288: Users page 23589, total collated: 4854 users
#289: Users page 7970, total collated: 4873 users
#290: Users page 6957, total collated: 4901 users
#291: Users page 15125, total collated: 4924 users
#292: Users page 7844, total collated: 4944 users
#293: Users page 2501, total collated: 4971 users
#294: Users page 23961, total collated: 4984 users
#295: Users page 8178, total collated: 5010 users
#296: Users page 16610, total collated: 5031 users
#297: Users page 20234, total collated: 5050 users
#298: Users page 29652, total collated: 5059 users
#299: Users page 16604, total collated: 5078 users
#300: Users page 19766, total collated: 5097 users

In [55]:
user_db = pd.DataFrame(api_output_users)

In [56]:
def split_scores(stat_row):
    scores_dict = {}
    for item in stat_row:
        for media_id in item['mediaIds']:
            scores_dict[media_id] = item['score']
    
    return scores_dict

In [57]:
user_db['statistics'] = user_db['statistics'].apply(lambda x: x['anime']['scores'])
user_db['statistics'] = user_db['statistics'].apply(split_scores)
user_db = user_db.join(pd.json_normalize(user_db['statistics']))
user_db = user_db.drop(columns=['statistics'])

In [59]:
print(user_db.shape)
user_db.head()

(5097, 6483)

,id,name,score_format,21459,20755,6547,14719,15809,98659,21450,...,21806,107875,12863,107202,97707,114745,21478,119484,10419,1065
0,690982,HaradaShin02,POINT_10_DECIMAL,75.0,75.0,75.0,75.0,75.0,75.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,690986,Jozen15,POINT_10_DECIMAL,85.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,690989,Ser88,POINT_10_DECIMAL,60.0,NaN,60.0,70.0,80.0,90.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,690991,Daniel2620,POINT_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,690992,Sanderson,POINT_10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
user_db.to_csv("./user_list.csv",index=False,encoding="utf-8")

In [ ]:
query = '''
query ($page: Int, $perPage: Int) {
    Page (page: $page, perPage: $perPage) {
        pageInfo {
            total
            currentPage
            lastPage
            hasNextPage
            perPage
        }
        users{
            id
            name
            mediaListOptions {
                scoreFormat
            }
            statistics {
                anime {
                    scores {
                        score
                        mediaIds
                    }
                    
                }
            }
        }
    }
}
'''

url = 'https://graphql.anilist.co'
api_output_users = []
atLastPage = False
page_numbers = list(range(1,30001))
pages = np.random.choice(page_numbers,size=300,replace=False)
#max page as of 10 Feb 2022 is 30582

#while not atLastPage:
pages = [5,6]
for idx,page in enumerate(pages):
#for i in range(5):
    variables = {
        'page': page,
        'perPage': 50,
    }
    
    time.sleep(0.667)
    response = requests.post(url, json={'query': query, 'variables': variables})
    data = response.json()
    
    #print(data)
    
    for user in data['data']['Page']['users']:  
        user['score_format'] = user['mediaListOptions']['scoreFormat']
        
        if len(user['statistics']['anime']['scores']) == 0 or user['score_format'] == "POINT_3":
            continue
        elif user['score_format'] == "POINT_10":
            for score in user['statistics']['anime']['scores']:
                score['score'] *= 10
        elif user['score_format'] == "POINT_5":
            for score in user['statistics']['anime']['scores']:
                score['score'] *= 20
            
        for score in user['statistics']['anime']['scores']:
            media_id = [str(mediaid) for mediaid in score['mediaIds']]
            user[f"score_{score['score']}"] = ", ".join(media_id)
        user.pop('mediaListOptions')
        user.pop('statistics')
        api_output_users.append(user)
        
    #api_output_anime.extend(data['data']['Page']['media'])
    print(f"#{idx+1}: Users page {page}, collated {len(api_output_users)} users")